<main class="container-fluid main-container" >
<div class="container">
    <nav class="navbar navbar-inverse navi navi-span">
     <h4 class="col-sm-2 logo">ADEBAYO || AwesomE </h4>
      <ul>
          <li><a href="#/home">Home</a></li>
          <li><a href="#/portfolio">Portfolio</a></li>
          <li><a href="#/contact" class="selected">Contact Me</a></li>
          <li><a href="#/admin">Admin</a></li>
      </ul>
</nav>
        <section class="row myDetailsCanvas">
          <div class="col-md-4">
           <!--  <h3>ABOUT ME</h3> -->
            <img  class ="image-square-about"src="images/bayo.jpg">
          </div>
          <div class="col-md-8"> 
            <p> Hi, My name is Maborukoje Adebayo, I'm a Software Developer at Andela Institute, i love to code and learn new things. My hobbies are Drama (Directing) and watching Soccer. You can reach me on
            <a href="http://twitter.com/intent/tweet?screen_name=itz_herdeybayor" class="social-icon">twitter </a> Or on 
            <a href="http://facebook.com/adebayo.maborukoje2004" class="social-icon">Facebook</a>
            you can also send a mail to <a href="mailto:adebayo.maborukoje@andela.co">Bayo</a> </p> 
          </div>
        </section>
         
   <!--  <footer ng-include="links.html">
            
    </footer> -->
    <div >
  
  
</div>