<main class="container-fluid main-container" >
  <div class="container" style="background-image:url('images/bg.jpg')">
    <nav class="navbar navbar-inverse navi">
      <ul>
          <li><a href="#/home">Home</a></li>
          <li><a href="#/portfolio">Portfolio</a></li>
          <li><a href="#/contact">Contact Me</a></li>
          <li><a href="#/admin">Admin</a></li>
      </ul>
    </nav>
    <div>
      <div class="jumbotron"> 
          <h1>Maborukoje Adebayo</h1>
          <h3>Building The Bridges That Connects The World</h3>
          <a href="#/portfolio"><button class="btn btn-success btn-lg">TAKE A TOUR</button></a>                   
      </div>

    </div>
    
  </div>
<div class="row mid">
    <div class="col-sm-4 my-portfolio">
      <img  class ="image-square"src="demo.jpg">
      <p> jkf hfeskgf dsh ngfdsgfuds hgmsdnbgfsd hkdsgfsdhgjdsgds kdsgdsgv sdjsdcnvlkdcvd vdvd gi rejg  f welcome tto the new world of endless possibilties. i jsut wanr =t u to beliebe ib the future that is ahead of ugf</p>
    </div>
    <div class="col-sm-4 my-portfolio">
     <img  class ="image-square"src="demo.jpg">
    <p> Lorem ipsun Genretaxfnbv f dgv sjkksd ssd fksdhfdskjgf idshgdskgh kidsfkjdsj sdbfsd sdhkfdbsjkg sdkjbgf sdkj ffsiuhbfbg dfkjfdg dkgbd ,syaer gdsda, </p>
    <p> dkadjksdh gdsv dsjfsdgh dssdgsdgfsgsdg gdg</p>
    </div>
    <div class="col-sm-4 my-portfolio">
     <img  class ="image-square"src="demo.jpg">
    <p> Lorem ipsun Genretaxfnbv f dgv sjkksd ssd fksdhfdskjgf idshgdskgh kidsfkjdsj sdbfsd sdhkfdbsjkg sdkjbgf sdkj ffsiuhbfbg dfkjfdg dkgbd ,syaer gdsda, </p>
    <p> dkadjksdh gdsv dsjfsdgh dssdgsdgfsgsdg gdg</p>
    </div>
    <div class="col-sm-4 my-portfolio">
     <img  class ="image-square"src="demo.jpg">
    <p> Lorem ipsun this is the general curriculum for the universtiy  of lagos an im ready to rolll eoith any one intreasted in hangoing out</p>
    </div>
   </div>
   <div class="more"><a href="#/portfolio"><button class="btn btn-success btn-lg">SEE MORE</button></a></div>
   <div class="info">
      
        <h3>ABOUT ME</h3>
        <img  class ="image-square-about"src="images/bayo.jpg">
        <p> Hi, My name is Maborukoje Adebayo, Im a sotware developer at Andela Institute and have a great love for soccer</p>
   </div>
</main>

