<main class="container-fluid main-container" >
  <div class="container" style="background-image:url('images/bg.jpg')">
    <nav class="navbar navbar-inverse navi navi-span">
     <h4 class="col-sm-2 logo">ADEBAYO || AwesomE </h4>
      <ul>
          <li><a href="#/home" class="selected">Home</a></li>
          <li><a href="#/portfolio">Portfolio</a></li>
          <li><a href="#/contact">Contact Me</a></li>
          <li><a href="#/admin">Admin</a></li>
      </ul>
    </nav>
    <div>
      <div class="jumbotron"> 
          <h1>Maborukoje Adebayo</h1>
          <h3>Building The Bridges That Connects The World</h3>
          <a href="#/portfolio"><button class="btn btn-success btn-lg">TAKE A TOUR</button></a>                   
      </div>

    </div>
    
  </div> 
  <div class="row mid" >
    <ul class="displayProjects">
      <li ng-repeat = "project in projects |limitTo : 3| orderBy: order">
        <div class="col-sm-4 my-portfolio">
        <a href="#/portfolio/{{project.id}}">
          <p ng-bind="project.name | uppercase" class="blue"></p>
          <img ng-src ="{{project.imageUrl}}" class="image-square"> </a>
          <p ng-cloak>{{project.Description}}</p>
        </div>
      </li>
    </ul>
    <div class="more"><a href="#/portfolio"><button class="btn btn-success btn-lg">SEE MORE</button></a></div>
  </div> 
  
  
  <div class="info"> 
    <h3>ABOUT ME</h3>
    <img  class ="image-square-about"src="images/bayo.jpg">
    <p> Hi, My name is Maborukoje Adebayo, Im a sotware developer at Andela Institute and have a great love for soccer... </p>

   </div>
</main>

