<main class="container-fluid main-container" >
<div class="container">
    <nav class="navbar navbar-inverse navi navi-span">
      <ul>
          <li><a href="#/home">Home</a></li>
          <li><a href="#/portfolio" class="selected">Portfolio</a></li>
          <li><a href="#/contact">Contact Me</a></li>
          <li><a href="#/admin">Admin</a></li>
      </ul>
</nav>

      <section class="row myDetailsCanvas">
        <ul class="displayProjects">
          <li ng-repeat = "project in projects" class="list-canvas">
            <div>
            <p  class="col-sm-4">
            <img ng-src ="{{project.imageUrl}}" class="image-square "> 
            </p>     
            <blockquote class="col-sm-7">
              <a href="#/portfolio/{{project.id}}">
                <p ng-bind="project.name | uppercase" class="blue"></p> </a>
                <p ng-cloak>{{project.Description}}</p>
              
            </blockquote>
            </div>
          </li>
        </ul>
      </section>
    </main>
   <!--  <footer ng-include="'links.html'">
            
    </footer> -->
